.square {
  background: lightslategrey;
  outline: 1px solid black;
}

.square:hover {
  background: darkslategrey;
}

.wall {
  background: black;
}

.wall:hover {
  background: black;
}

.start {
  background: green !important;
};

.end {
  background: red !important;
}

.route {
  background: green;
}

.openList {
  background: gold;
}

.closedList {
  background: lightgray;
}
